---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Web Educom" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href={`${import.meta.env.BASE_URL}/favicon.ico`} />
    <link rel="icon" type="image/png" sizes="32x32" href={`${import.meta.env.BASE_URL}/favicon-32x32.png`} />
    <link rel="icon" type="image/png" sizes="16x16" href={`${import.meta.env.BASE_URL}/favicon-16x16.png`} />
    <link rel="apple-touch-icon" href={`${import.meta.env.BASE_URL}/apple-touch-icon.png`} />
    <link rel="manifest" href={`${import.meta.env.BASE_URL}/site.webmanifest`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <header class="text-gray-600 body-font sticky z-50 top-0 bg-[#f7f7f7]">
    <div
      class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
    >
      <a
        href="/"
        class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
      >
        <img src={`${import.meta.env.BASE_URL}/logo.webp`} alt="logo educom" height="80" width="293" />
      </a>
      <nav
        class="md:ml-auto flex flex-wrap items-center text-base justify-center"
      >
        <a class="mr-5 hover:text-gray-900" href="#capacitaciones"
          >Capacitaciones</a
        >
        <a class="mr-5 hover:text-gray-900" href="#sobre-nosotros"
          >Sobre nosotros</a
        >
        <a class="mr-5 hover:text-gray-900" href="#nuestro-equipo"
          >Nuestro equipo</a>
        <a class="mr-5 hover:text-gray-900" href="#nuestros-servicios"
        >Nuestros servicios</a>
        <a class="mr-5 hover:text-gray-900" href="#contactanos">Contactanos</a>
      </nav>
      <a
        class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
        href="https://www.fio.unicen.edu.ar"
        target="_blank"
        >Facultad de Ingeniería - Olavarría
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-1"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </header>

  <body>
    <slot />
  </body>
  <footer class="text-gray-600 body-font">
    <div
      class="container px-5 py-8 mx-auto flex items-center justify-center sm:flex-row flex-col"
    >
      <a
        class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
      >
        <img src={`${import.meta.env.BASE_URL}/favicon.png`} alt="logo educom" height="30" width="30" />
        <span class="ml-3 text-xl">EDU.COM</span>
      </a>
      <p
        class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
      >
        This site © 2024 by EDU.COM is licensed under
        <a
          href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
          class="text-gray-600 ml-1"
          rel="noopener noreferrer"
          target="_blank">CC BY-SA</a
        >
        4.0
      </p>
    </div>
  </footer>

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      background: #f7f7f7;
      background-size: 224px;
      scroll-behavior: smooth;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>


</html>
